.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

img {
    width: 100%;
}

.logo {
    width: 20%;
}


/* Top Section */

h1 {
    color: var(--Gray);
    font-weight: 300;
    margin-top: 2rem;
    font-size: 2rem;
}

h1 span {
    color: var(--Very-Dark-Blue);
    font-weight: 700;
}

.text-container {
    padding-top: 3rem;
    text-align: center;
}

.text-container p {
    color: var(--Very-Dark-Blue);
    font-size: 16px;
    margin-top: 1rem;
}


/* Form */

p.error-text {
    display: none;
}

.field.error .error-text {
    display: block;
}

.field.error input {
    border: 2px solid var(--Light-Red);
}

form p.error-text {
    position: absolute;
    top: 15rem;
    margin-left: 3rem;
    margin-top: .5rem;
    font-style: italic;
    color: var(--Light-Red);
    font-size: 12px;
}

.field.error #email {
    border: 2px solid var(--Light-Red);
}

form {
    display: flex;
    flex-direction: row;
    margin: 1rem 0rem;
}

#email {
    border-radius: 50px;
    border-color: var(--Pale-Blue);
    padding: 1rem;
    width: 20rem;
}

button {
    background-color: var(--Blue);
    color: white;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: none;
    width: 12rem;
    margin-left: .5rem;
}

button:hover {
    opacity: .8;
    cursor: pointer;
}


/*Image */

.main-image {
    /* padding: 1rem 14rem; */
}


/*Social Media Section */

ul {
    list-style: none;
    display: flex;
}

li {
    border: 1px solid var(--Gray);
    border-radius: 50%;
    padding: .50rem .75rem;
    margin: 1rem;
}

i {
    color: var(--Blue)
}


/*Bottom of Page */

.social-media-container {
    margin-top: 5rem;
}

.footer {
    display: flex;
}

.footer p {
    color: var(--Gray)
}

@media only screen and (max-width: 450px) {
    .container {
        margin: 0;
    }
    h1 {
        font-size: 1.5rem;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    #email,
    button {
        width: 100%;
    }
    #email {
        margin-bottom: .5rem;
    }
    .text-container {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .form-container {
        width: 325px;
    }
    button {
        margin-left: 0;
    }
}